@model Gas.WebApp.Models.StatusModel
@{
    ViewData["Title"] = "Status";
}

<div class="text-center">
    <h1 class="display-4">Status</h1>
    <div class="row">
        <div class="col">
            <canvas id="rssi"></canvas>
        </div>
        <div class="col">
            <canvas id="systemTemperature"></canvas>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const rssiCtx = document.getElementById("rssi");
        const rssi = new Chart(rssiCtx, {
            type: 'line',
            data: {
                datasets: [{
                    label : 'Rssi',
                    backgroundColor: 'rgb(99, 255, 132)',
                    borderColor: 'rgb(99, 255, 132)',
                    data: [
                    @foreach (var (x,y) in Model.Rssis)
                    {
                        <text>
                        { x: '@x.ToString()', y: @y },
                        </text>
                    }
                    ]
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
        const systemTemperatureCtx = document.getElementById("systemTemperature");
        const systemTemperature = new Chart(systemTemperatureCtx, {
            type: 'line',
            data: {
                datasets: [{
                    label : 'System Temperature',
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: [
                    @foreach (var (x,y) in Model.SystemTemperatures)
                    {
                        <text>
                        { x: '@x.ToString()', y: @y },
                        </text>
                    }
                    ]
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>

</div>
