@model Gas.WebApp.Models.ScheduleModel
@{
    ViewData["Title"] = "Schedule";
}

<div class="text-center">
    <h1 class="display-4">Schedule</h1>
    <form method="post" asp-controller="DeviceSchedule" asp-action="Index" asp-route-id="@Model.SelectedDevice.Id">
        <textarea class="form-control" name="schedule" rows="15"></textarea>
        <button type="submit" class="btn btn-primary mb-3">Submit</button>
    </form>
</div>
